@model Order
@{
    ViewBag.Title = ViewBag.TitleFromView;
    Layout = "~/Views/Shared/_Layout.cshtml";
    Order order = Model;
    IEnumerable<SelectListItem> items = ViewBag.Items;
}
<h1 class="text-info text-center">@ViewBag.TitleFromView</h1>

<div class="container">
    @using (Html.BeginForm("Save", "Order",
                        FormMethod.Post, new { enctype = "multipart/form-data", @class = "form-horizontal" }))
    {
        <span class="text-danger"> @Html.ValidationSummary()</span>
        @Html.HiddenFor(o => o.OrderId)
        @Html.HiddenFor(o => o.CreationDate)

        <div class="form-group">
            @Html.LabelFor(o => o.Number, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">
                @Html.TextBoxFor(o => o.Number, 
                new { @class = "form-control", placeholder = "Enter number here", Value = order.Number })
                <span class="text-danger"> @Html.ValidationMessageFor(x => x.Number)</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(o => o.ShipmentDate, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">
                @Html.TextBoxFor(o => o.ShipmentDate, new
                {
                   @class = "form-control", placeholder = "Shipment Date", Value = order.ShipmentDate, type = "date"
               })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(o => o.Note, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">
                @Html.TextBoxFor(o => o.Note, new { @class = "form-control", placeholder = "Note", Value = order.Note })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(o => o.ManagerId, new { @class = "control-label col-sm-3" })
            <div class="col-sm-6">
                @Html.DropDownListFor(o => o.ManagerId, items, new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group move-left">
            <div class="col-sm-offset-3">
                <input type="submit" value="Save" class="btn btn-success" />
                <a href="/Order/Index" class="btn btn-danger">Cancel</a>
            </div>
        </div>
    }
</div>

@section scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}