@using KEnergy.WebUI.Models
@model List<Order>

@{
    List<Order> orders = Model;
}

@foreach (var o in orders)
{
    <tr>
        <td>@o.Number</td>
        <td>@o.Manager.FullName</td>
        <td>@o.CreationDate.ToShortDateString()</td>
        <td>@o.ShipmentDate</td>
        <td>@o.Note</td>
        <td>
            <a class="btn btn-success" data-anchor-id="@o.OrderId" href="/Order/Edit/@o.OrderId">Edit Order</a>
        </td>
    </tr>
}